In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns
import warnings

In [40]:
data=pd.read_csv('Grades.csv')

In [41]:
data.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 43 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   571 non-null    object
 1   PH-121     571 non-null    object
 2   HS-101     571 non-null    object
 3   CY-105     570 non-null    object
 4   HS-105/12  570 non-null    object
 5   MT-111     569 non-null    object
 6   CS-105     571 non-null    object
 7   CS-106     569 non-null    object
 8   EL-102     569 non-null    object
 9   EE-119     569 non-null    object
 10  ME-107     569 non-null    object
 11  CS-107     569 non-null    object
 12  HS-205/20  566 non-null    object
 13  MT-222     566 non-null    object
 14  EE-222     564 non-null    object
 15  MT-224     564 non-null    object
 16  CS-210     564 non-null    object
 17  CS-211     566 non-null    object
 18  CS-203     566 non-null    object
 19  CS-214     565 non-null    object
 20  EE-217     565 non-null    object
 21  CS-212     565 non-null    object
 22  CS-215     565 non-null    object
 23  MT-331     562 non-null    object
 24  EF-303     561 non-null    object
 25  HS-304     561 non-null    object
 26  CS-301     561 non-null    object
 27  CS-302     561 non-null    object
 28  TC-383     561 non-null    object
 29  MT-442     561 non-null    object
 30  EL-332     562 non-null    object
 31  CS-318     562 non-null    object
 32  CS-306     562 non-null    object
 33  CS-312     561 non-null    object
 34  CS-317     559 non-null    object
 35  CS-403     559 non-null    object
 36  CS-421     559 non-null    object
 37  CS-406     486 non-null    object
 38  CS-414     558 non-null    object
 39  CS-419     558 non-null    object
 40  CS-423     557 non-null    object
 41  CS-412     492 non-null    object
 42  CGPA       571 non-null    float64
dtypes: float64(1), object(42)
memory usage: 191.9+ KB

In [43]:
data.shape

(571, 43)

In [44]:
data.describe

<bound method NDFrame.describe of      Seat No. PH-121 HS-101 CY-105 HS-105/12 MT-111 CS-105 CS-106 EL-102  \
0    CS-97001     B-     D+     C-         C     C-     D+      D     C-
1    CS-97002      A      D     D+         D     B-      C      D      A
2    CS-97003      A      B      A        B-     B+      A     B-     B+
3    CS-97004      D     C+     D+         D      D     A-     D+     C-
4    CS-97005     A-     A-     A-        B+      A      A     A-     B+
..        ...    ...    ...    ...       ...    ...    ...    ...    ...
566  CS-97567      B      A      A        A-     A+      A     A-     A-
567  CS-97568     A+      A      A         A      A      A      A     A-
568  CS-97569      B      A     A-        B+      A      A      A      A
569  CS-97570      A     B+      D         A      D     D+     B-     C-
570  CS-97571      C      D      D         C      C     D+      B     C+

    EE-119  ... CS-312 CS-317 CS-403 CS-421 CS-406 CS-414 CS-419 CS-423  \
0       B-  ...     C-     C-     C-     C-     A-      A     C-      B
1       D+  ...     D+      D      C      D     A-     B-      C      C
2       A-  ...      B      B      A      C      A      A      A     A-
3        D  ...     D+      C     D+     C-     B-      B     C+     C+
4        A  ...     B-     B+     B+     B-     A-      A     A-     A-
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
566     A+  ...     A-     A-      A      A      A     B+     B+      B
567      A  ...     B+     B+      A      A     A-      B     A-      C
568      A  ...     A-      B      A     B+      A      C     B+     A-
569     B-  ...      D      B      B     C-      D      C      B     B-
570      C  ...     C+      C     B-      D      F     C-     B+      D

    CS-412   CGPA
0       A-  2.205
1        B  2.008
2        A  3.608
3       C+  1.906
4        A  3.448
..     ...    ...
566      A  3.798
567     A-  3.772
568     A-  3.470
569      C  2.193
570     C-  1.753

[571 rows x 43 columns]>

In [45]:
data.isnull( ).sum( )

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [46]:
data=data.drop(columns=['Seat No.'])

In [47]:
print(data)

    PH-121 HS-101 CY-105 HS-105/12 MT-111 CS-105 CS-106 EL-102 EE-119 ME-107  \
0       B-     D+     C-         C     C-     D+      D     C-     B-     C-
1        A      D     D+         D     B-      C      D      A     D+      D
2        A      B      A        B-     B+      A     B-     B+     A-     A-
3        D     C+     D+         D      D     A-     D+     C-      D     C+
4       A-     A-     A-        B+      A      A     A-     B+      A     A-
..     ...    ...    ...       ...    ...    ...    ...    ...    ...    ...
566      B      A      A        A-     A+      A     A-     A-     A+     B+
567     A+      A      A         A      A      A      A     A-      A      A
568      B      A     A-        B+      A      A      A      A      A      B
569      A     B+      D         A      D     D+     B-     C-     B-     C-
570      C      D      D         C      C     D+      B     C+      C     D+

     ... CS-312 CS-317 CS-403 CS-421 CS-406 CS-414 CS-419 CS-423 CS-412   CGPA
0    ...     C-     C-     C-     C-     A-      A     C-      B     A-  2.205
1    ...     D+      D      C      D     A-     B-      C      C      B  2.008
2    ...      B      B      A      C      A      A      A     A-      A  3.608
3    ...     D+      C     D+     C-     B-      B     C+     C+     C+  1.906
4    ...     B-     B+     B+     B-     A-      A     A-     A-      A  3.448
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
566  ...     A-     A-      A      A      A     B+     B+      B      A  3.798
567  ...     B+     B+      A      A     A-      B     A-      C     A-  3.772
568  ...     A-      B      A     B+      A      C     B+     A-     A-  3.470
569  ...      D      B      B     C-      D      C      B     B-      C  2.193
570  ...     C+      C     B-      D      F     C-     B+      D     C-  1.753

[571 rows x 42 columns]

In [48]:
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [49]:
imputer = SimpleImputer(strategy='most_frequent') 
data= pd.DataFrame(imputer.fit_transform(data), columns=data.columns)

In [50]:
data.isnull().sum()

PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

In [51]:
from sklearn.preprocessing import LabelEncoder

In [52]:
feature_columns = data.columns[data.columns != 'CGPA']
label_encoders = {}
for column in feature_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

In [53]:
print("Encoded DataFrame with ordinal encoding on feature columns only:")
print(data)

Encoded DataFrame with ordinal encoding on feature columns only:
     PH-121  HS-101  CY-105  HS-105/12  MT-111  CS-105  CS-106  EL-102  \
0         5      10       8          6       8      10       9       8
1         0       9      10          9       5       6       9       0
2         0       3       0          5       4       0       5       4
3         9       7      10          9       9       2      10       8
4         2       2       2          4       0       0       2       4
..      ...     ...     ...        ...     ...     ...     ...     ...
566       3       0       0          2       1       0       2       2
567       1       0       0          0       0       0       0       2
568       3       0       2          4       0       0       0       0
569       0       4       9          0       9      10       5       8
570       6       9       9          6       6      10       3       7

     EE-119  ME-107  ...  CS-312  CS-317  CS-403  CS-421  CS-406  CS-414  \
0         5       8  ...       8       8       8       8       2       0
1        10       9  ...      10       9       6       9       2       5
2         2       2  ...       3       3       0       6       0       0
3         9       7  ...      10       6      10       8       5       3
4         0       2  ...       5       4       4       5       2       0
..      ...     ...  ...     ...     ...     ...     ...     ...     ...
566       1       4  ...       2       2       0       0       0       4
567       0       0  ...       4       4       0       0       2       3
568       0       3  ...       2       3       0       4       0       6
569       5       8  ...       9       3       3       8       9       6
570       6      10  ...       7       6       5       9      11       8

     CS-419  CS-423  CS-412   CGPA
0         8       3       2  2.205
1         6       6       3  2.008
2         0       2       0  3.608
3         7       7       7  1.906
4         2       2       0  3.448
..      ...     ...     ...    ...
566       4       3       0  3.798
567       2       6       2  3.772
568       4       2       2   3.47
569       3       5       6  2.193
570       4       9       8  1.753

[571 rows x 42 columns]

In [54]:
data.head(40)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 42 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PH-121     571 non-null    int32
 1   HS-101     571 non-null    int32
 2   CY-105     571 non-null    int32
 3   HS-105/12  571 non-null    int32
 4   MT-111     571 non-null    int32
 5   CS-105     571 non-null    int32
 6   CS-106     571 non-null    int32
 7   EL-102     571 non-null    int32
 8   EE-119     571 non-null    int32
 9   ME-107     571 non-null    int32
 10  CS-107     571 non-null    int32
 11  HS-205/20  571 non-null    int32
 12  MT-222     571 non-null    int32
 13  EE-222     571 non-null    int32
 14  MT-224     571 non-null    int32
 15  CS-210     571 non-null    int32
 16  CS-211     571 non-null    int32
 17  CS-203     571 non-null    int32
 18  CS-214     571 non-null    int32
 19  EE-217     571 non-null    int32
 20  CS-212     571 non-null    int32
 21  CS-215     571 non-null    int32
 22  MT-331     571 non-null    int32
 23  EF-303     571 non-null    int32
 24  HS-304     571 non-null    int32
 25  CS-301     571 non-null    int32
 26  CS-302     571 non-null    int32
 27  TC-383     571 non-null    int32
 28  MT-442     571 non-null    int32
 29  EL-332     571 non-null    int32
 30  CS-318     571 non-null    int32
 31  CS-306     571 non-null    int32
 32  CS-312     571 non-null    int32
 33  CS-317     571 non-null    int32
 34  CS-403     571 non-null    int32
 35  CS-421     571 non-null    int32
 36  CS-406     571 non-null    int32
 37  CS-414     571 non-null    int32
 38  CS-419     571 non-null    int32
 39  CS-423     571 non-null    int32
 40  CS-412     571 non-null    int32
 41  CGPA       571 non-null    object
dtypes: int32(41), object(1)
memory usage: 96.0+ KB

In [55]:
Y=data['CGPA']
X=data.drop(columns= ['CGPA'])

In [56]:
Scaler=StandardScaler( )
X_scaled=Scaler.fit_transform(X)

In [57]:
x_train,x_test,y_train,y_test=train_test_split(X_scaled, Y, test_size=0.25, random_state=348)

In [58]:
y_train.head()

506    3.107
22     2.953
201    3.019
289    3.943
332    2.716
Name: CGPA, dtype: object

In [59]:
regression=LinearRegression( )
regression.fit(x_train, y_train)

LinearRegression()

In [60]:
y_predict=regression.predict(x_test)  
print(y_predict)

[3.9818163  1.94302005 3.87425008 1.65009855 3.55784919 3.22750877
 3.41528736 2.57542617 3.49324508 2.7730529  3.88553356 3.35699799
 2.3811056  2.32211303 3.41840446 3.05758223 2.40421831 3.10759347
 1.61591567 2.03073397 3.99635447 3.08593938 2.5456631  3.17611038
 2.1623756  3.50660546 2.36960252 3.35326209 2.13587251 2.50241672
 1.7293202  2.56006948 2.86355171 2.17119836 3.14787638 3.04303819
 3.03921564 1.97346882 2.70490772 2.97390157 2.79845968 3.0682445
 2.1870348  3.55590228 3.74947266 2.98059189 2.50391451 2.07909286
 2.46287493 2.0653159  2.49923783 2.65665392 3.76208964 2.42042835
 1.84272586 1.95689774 3.36374497 3.09671705 2.820463   3.12920025
 2.16869048 3.52790482 2.53161803 3.80331522 3.42893278 2.79756649
 1.884178   3.05446186 2.36202828 3.47638623 2.23579383 3.36953138
 2.11314152 2.36621793 3.45858971 2.35757333 2.59267307 2.63024874
 3.27089826 2.93799404 3.5455188  3.29389227 3.74361467 4.00313853
 3.11403173 3.82882313 2.91783674 3.22257253 3.28753119 3.14311294
 2.55282453 2.03921548 2.32503606 3.6215067  1.71375588 3.15366762
 2.29230332 2.958231   3.61950837 2.13788864 2.39237035 3.16287247
 2.91948667 3.29770222 2.35421626 2.90651504 3.24924164 2.79399408
 3.38475564 1.63707028 3.01022773 3.02925749 3.10476126 1.87118467
 2.90976709 3.2907238  3.7772249  1.58311322 2.96246237 3.12157793
 2.63839356 3.11454594 3.84523164 2.83340681 2.70433617 2.71459624
 1.84413251 2.7206729  3.37464342 2.06926175 3.62982124 2.84799117
 1.95695249 3.53555491 3.22442895 2.62100937 3.32509621 2.92507259
 1.98927074 3.13094655 2.33713879 2.91273327 2.93071855]

In [61]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [62]:
a=mean_absolute_error(y_test,y_predict)
print(a)


b=mean_squared_error(y_test,y_predict)
print(b)

0.11659766370861821
0.10232782469987654