In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import pickle  # to save and the final model
import seaborn as sns
import warnings

In [7]:
data=pd.read_csv('happiness_score_dataset.csv')

In [43]:
data.head( )

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [44]:
data.shape

(158, 12)

In [14]:
data.describe( )

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [15]:
data.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
lab_enc=LabelEncoder( )

In [16]:
data2=lab_enc.fit_transform(data['Country'])

data['Country']=data2

In [17]:
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,135,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,58,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,37,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,105,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,24,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [18]:
data3=lab_enc.fit_transform(data['Region'])

data['Region']=data3

In [19]:
data.head ()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,135,9,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,58,9,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,37,9,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,105,9,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,24,5,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [34]:
Y=data['Happiness Score']
X=data.drop(columns= ['Happiness Score'])

In [35]:
scaler=StandardScaler( )
X_scaled=scaler.fit_transform(X)

In [36]:
x_train,x_test,y_train,y_test=train_test_split(X_scaled, Y, test_size=0.25, random_state=348)

In [37]:
y_train.head()

48    5.960
76    5.286
90    5.057
44    5.995
56    5.828
Name: Happiness Score, dtype: float64

In [38]:
regression=LinearRegression( )
regression.fit(x_train, y_train)
data.tail(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
153,118,8,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,13,8,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,136,4,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,21,8,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,141,8,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [45]:
data_pred = regression.predict(X_scaled)

In [48]:
print(data_pred)

[7.58671709 7.56082662 7.52699822 7.52206017 7.42696464 7.40597219
 7.37803498 7.3634812  7.28606149 7.28415009 7.27767268 7.22574627
 7.19983965 7.18721824 7.11941969 6.98268812 6.94613917 6.94023539
 6.93735457 6.90127176 6.86709786 6.85293158 6.81013226 6.7976177
 6.78621245 6.75010321 6.66976942 6.6112896  6.57499126 6.57415984
 6.50515885 6.48506041 6.4768952  6.45468249 6.41112319 6.32877921
 6.30242066 6.29810651 6.29484198 6.26926739 6.16776638 6.13024373
 6.12290772 6.00280462 5.99512254 5.98708205 5.98367469 5.9752846
 5.95980937 5.94811707 5.88992882 5.8890694  5.8783901  5.85531714
 5.84766666 5.83269098 5.8282935  5.82407823 5.81265464 5.79060906
 5.77042882 5.75862217 5.75441099 5.71584904 5.70890992 5.69515562
 5.6886719  5.60473986 5.58869047 5.54818253 5.47703106 5.47383908
 5.42865181 5.3988199  5.36012246 5.33238389 5.28644814 5.26807991
 5.25299325 5.21209266 5.19371713 5.19230651 5.19234404 5.14045428
 5.12884612 5.1241334  5.12307833 5.10151054 5.09760933 5.07325684
 5.05724045 5.01302397 5.00705177 4.97120661 4.9594202  4.94879354
 4.89766629 4.88459303 4.87604088 4.87431283 4.86721382 4.85738174
 4.83913543 4.79960387 4.78793123 4.78636731 4.73839918 4.71467788
 4.69394983 4.68555883 4.68064974 4.67728179 4.64225946 4.63345635
 4.60957431 4.57139053 4.56462149 4.55045346 4.51792721 4.51715478
 4.51427155 4.51222414 4.5072146  4.43551287 4.41928051 4.36914662
 4.34998185 4.33225168 4.30700415 4.29658807 4.2924328  4.27053017
 4.2520585  4.21848706 4.19420654 4.07661281 4.03312773 3.9948139
 3.98884063 3.95563839 3.93072535 3.90364647 3.89646269 3.84492598
 3.81924052 3.7807253  3.68078014 3.67788398 3.66730217 3.65594147
 3.6551218  3.58694471 3.5746714  3.46479903 3.3401018  3.00626534
 2.90473147 2.83892739]